<% if (site.items.length) { %>

<ul id="items">
<% for(var i=0; i<site.items.length; i++) { %>
    <li>
    <p>
    <a href="/lawmaker/<%= site.items[i].bioguide_id %>"><img border="0" src="/images/100x125/<%= site.items[i].bioguide_id %>.jpg"></a>
    <br/>
    <small>
    <a href="/lawmaker/<%= site.items[i].bioguide_id %>">
    <%= site.items[i].firstname %>
    <%= site.items[i].lastname %></a>
    </small>
    </p>

    </li>
  <%} %>
</ul>
<%} %>


